* { box-sizing: border-box; 
 }
 body{background-image: URL("../img/fondo.png");
     /*font-family: "Crimson Text", serif; /*Se pone en el body y todos tiene la fuente  */
     font-family: "inika-regular",serif;
     font-weight: 600;
     font-style: normal;
     padding: 0;
     margin: 10px; 
 }

 header {background-color:lightblue;
        color: gray;
        padding: 2em;
        /*position: fixed;*/
        /*z-index: 100;*/  
        margin-left: 0;
       /* text-align:right;*/
        align-items: left;
}

h1 {background-color:blue;
    color:rgb(14, 14, 12);
    text-align: center; 
        /*font-family:'crimson-text-regular';*/
    font-weight: 800;
    text-transform: uppercase;
} 
article {background-color:gray;
         /*display: flexbox;*/
        text-align: center;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        display: block;
        }

nav ul {display: inline-block;  padding: 0; margin: 0;}/* Ítems del menú en una línea horizontal */ 
nav li {list-style: none;  margin-right: 20px;display: inline-block; } /* display :inlie-block, hace el menus horizontal*/
nav a:hover {  text-decoration: underline;}
nav {
	background-color:transparent;
    align-items: rigth;
}
nav a:link {
	background-color: #999;
	color: #000;
}
nav a:visited {
	background-color: #999;
	color: #000;
}
nav a:hover {
	background-color: #000;
	color: #FFF;
}
nav a:active {
	background-color: #F00;
	color: #FFF;
}
footer{ background-color: aliceblue;color: black;
}

img {
    width: 600px; /* Ajusta según la necesidad */
    height:400px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    display: inline-block;
  }
   h2{
     background-color: blue;
     color:aliceblue;
    
    text-align: center;
     margin: 0px; 
  }
  p{
    background-color: blue;

  }
  footer p{
    background-color: aquamarine;
  }
article ul li {
text-align: left;
}

  
.contenedor-bloque {
   /* display: flex; */
   /* align-items: right ; /* Para centrar verticalmente si es necesario */
    padding: 0px;
    margin: 0px;
  }

.resaltar{
    font-size: x-large;
    color: black;
}








 .inika-regular {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

.inika-bold {
  font-family: "Inika", serif;
  font-weight: 700;
  font-style: normal;
}
